 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* ---------- LOGO ---------- */
.nav-logo {
    width: 100px;
    padding: 5px;
}

.logo {
    background-image: url("amazon-logo-.webp");
    background-size: cover;
    background-position: center;
    height: 50px;
    width: 100%;
    cursor: pointer;
}

/* ---------- HOVER BORDER ---------- */
.border {
    border: 2px solid transparent;
    padding: 4px 6px;   /* better clickable area */
    border-radius: 4px; /* rounded even without hover */
}

.border:hover {
    border: 2px solid white;
    border-radius: 4px;   /* smooth rounded hover */
}

/* ---------- ADDRESS ---------- */
.add-first {
    font-size: 0.75rem;
    color: #ccc;
    margin-left: 18px;
}

.add-second {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 5px;
}

.add-icon {
    display: flex;
    align-items: center;
}
.nav-address{
    cursor: pointer;
}

/* ---------- SEARCH BOX ---------- */
.nav-search {
    display: flex;
    align-items: center;
    width: 600px;
    height: 40px;
    border-radius: 8px;
    background-color: white;
    overflow: hidden;
}

.search-select {
    width: 55px;
    background-color: #f3f3f3;
    border: none;
    height: 100%;
    text-align: center;
}

.search-input {
    width: 100%;
    border: none;
    font-size: 1rem;
    padding-left: 10px;
}

.search-icon {
    width: 50px;
    background-color: #febd69;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.2rem;
    cursor: pointer;
}

/* ---------- LANGUAGE ---------- */
.nav-language {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.lang-flag {
    width: 22px;
    height: 15px;
    border: 1px solid #fff;
}

/* ---------- SIGN-IN, RETURNS ---------- */
span {
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}
.nav-singin{
    cursor: pointer;
}
.nav-return{
    cursor: pointer;
}
/* ---------- CART ---------- */
.nav-cart i {
    font-size: 25px;
}
.nav-cart{
    cursor: pointer;
}

.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-all{
    cursor: pointer;
}
.panel-ops {
    display: flex;
    gap: 50px;
    cursor: pointer;
}
 
.panel-ops{
    width: 70%;
}

.hero-section{
    background-image: url("https://images-eu.ssl-images-amazon.com/images/G/31/img23/Wireless/Isha/Xiaomi/Redmi15C5G/D345870644_IN_WLD_Redmi15C_New-Launch_PC_Hero_3000x1200._CB776670079_.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}
.shop-section {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background-color: #e2e7e6;
}


.box {
    width: 100%;
    height: 400px;
    background: white;
    padding: 15px;
}

.box-img {
    width: 100%;
    height: 270px;            
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    margin: 15px 0;
    cursor: pointer;
}

.box p {
    color: #007185;
    cursor: pointer;
}
.box {
    background: white;
    padding: 20px;
    width: 300px;
    
}

.box h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-gap: 10px; /* space between images */
    margin-bottom: 15px;
}

.grid-4 img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
}

.box p {
    color: #007185;
    font-size: 14px;
    cursor: pointer;
}
footer{
    margin-top: 15px;
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}
ul {
    margin-top: 20px;   
}

.foot-panel3{
    background-color:  #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.logo3 {
    background-image: url("Amazon-Symbol.jpg");
    background-size: cover;
    background-position: center;
    height: 50px;
    width: 10%;
}
.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 80px;
}
.pages{
    font-size: 0.7rem;
    text-align: center;
    padding-top:25px ;
}
.copyright{
    font-size: 0.7rem;
    text-align: center;
    padding-top: 5px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #e3e6e6;
}

.product-section {
    background: #fff;
    padding: 20px;
    margin: 20px;
    width: 90%;
    justify-self: center;
}

.product-section h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.product-slider {
    display: flex;
    gap: 22px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.product-slider img {
    height: 200px;
    cursor: pointer;
    transition: transform 0.3s;
    
}


    
 